
        body {
          background-color:#222831;          
          height:auto;
          font-family: 'PT Sans', sans-serif;
        }
        .owl-stage .owl-item:nth-child(even) .card.customcard{
          background-color: #eb6383 !important;
        }
        .owl-stage .owl-item:nth-child(odd) .card.customcard{
          background-color: #2fc4b2 !important;
        }
        .customsearch{
          width:100%;
          font-family: 'PT Sans', sans-serif;
          background-color:white;
          position: relative;
          z-index: 5;          
          padding:15px;
          cursor: pointer;
        }
        .custom {        
           background-color:#33313b;
           color:white;   
           border:none;
           outline:none;
           padding-left:20px;     
        }
        ::placeholder{
        color:white;
        	font-family: 'Staatliches', cursive;
        }  
        
        	#Weather-Header{
        		height:200px;
        		background-color:#252525;
        		box-shadow:.5px .5px 15px grey;
        		background-repeat:no-repeat;
        		background-size:cover;        	
        	}
           #weather_child{
           	height:auto;
           	margin-top:10%;
           	margin-left:3%;
           	background-color:#e6dedd;
           	border-radius:5px;
           	padding:0px;
           	color:#252525; 
           	padding:2% 0 0 2%;
           	font-size:8px;
           	font-family: 'Staatliches', cursive;        
           }           
           #weather_child_main{
            height:auto;
           }
           #weather_child h4{
           	font-size:20px;
           }
           #weather_child h4 span{
           	font-size:25px;
           }
           #weather_child h1{
           	font-size:65px;
           }
           #weather_child i{
           	font-size:65px;
           	position:absolute;
           	right:20%;
           }  
           #weather-main{
           	margin-top:15px;
           }
           #CityName{
               font-size:15px !important;
           }
           @media screen and (max-width:600px){

           	  #Status{
           	  	font-size:55px;
           	  	
           	  }
           	  #content-data{
           	  	display:block;
           	  }
           	  #content-data p{
           	  	margin:0;
           	  	padding:0;
           	  	text-align:center;
           	  	margin-top:1%;
           	  }
             .col-md-3{
                 margin:2% 0 !important;
             }
           }  
           @media screen and (min-width:601px){

           	  #Status{
           	  	font-size:85px;           	  	
           	  	
           	  }
           	  #content-data{
           	  	display:flex;
           	  }
           	  #content-data p{
           	  	text-align:center;
           	  }
           	  #content-data p:nth-of-type(3){
           	  	padding-left:60px;
           	  		text-align:center;
           	  }
           	  #content-data p:nth-of-type(1){
           	  	color:white;
           	  	padding-left:10px;
           	  	padding-left:30px;
           	  }
           	  #content-data p:nth-of-type(2){
           	  	padding-top:30px;padding-left:10px;
           	  }
           }       
  .card.customcard{
    font-family: 'Open Sans', sans-serif;
    color:black !important;
    height:300px !important;        
    padding: 2% !important;
    border-radius:30px !important;
    background:none !important;
  }
  .customtemp{
    padding:5%;
    margin:2%;;
     margin-top:5%;
     
  }
  .customname{
      text-decoration:underline;
      padding:5%;
      height:60px;
  }
  .pngcustom{
      height:30px;
      width: 30px !important;
      margin-left:4%;
  }
  .tempstatus{
     display: flex;
     justify-content:center;
     align-items:center;   
     font-family: 'Open Sans', sans-serif;
  }  
  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
.hide{

display: none ;
} 
.lds-ripple div:nth-child(even){
border-color:white;
}
.lds-ripple div:nth-child(odd){
  border-color:white;
  }

#owl-demo{
  display: block;
  width: 100%;
  height: auto;
}
#left,#right{
  border-radius:30px;
  cursor: pointer;
 
}
.imagediv{
  padding:2%;
  border-radius:50px;
  background-color:white;
}
i{
  font-size:35px !important;
  color:white !important;
}
p a{
  color:white;
}
#branding i{
  font-size:18px !important;
}
#branding a{
 margin:0% 10px;
}